.header {
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--gutter);
  padding-block: var(--gutter-100);
  padding-inline-start: var(--gutter);
  z-index: var(--zindex-nav);

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: -2;
    background-color: color-mix(
      in srgb,
      var(--color-surface-bg) 80%,
      transparent
    );
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    box-shadow: var(--shadow);
  }
}

.headerControls {
  display: flex;
  align-items: center;
}

.logo {
  flex-grow: 0;
  line-height: 1;
  transform: translateY(1px);
  max-width: 100%;

  svg {
    width: 100%;
    height: auto;
  }
}

.logoSignature {
  fill: var(--color-primary);
}

.logoName {
  fill: var(--color-text-light);
}

.menuLayer {
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  background-color: color-mix(
    in srgb,
    var(--color-surface-bg) 95%,
    transparent
  );
  z-index: -3;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  box-shadow: var(--shadow);

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      &:not(:last-child) {
        border-bottom: var(--border);
      }

      a {
        display: block;
        text-align: right;
        text-decoration: none;
        padding: var(--gutter-300);
      }
    }
  }
}
