/* Tokens */
:root {
  --color-primary-h: 6deg;
  --color-primary-s: 93%;
  --color-primary-l: 42%;
  --color-primary: hsl(
    var(--color-primary-h) var(--color-primary-s) var(--color-primary-l)
  );

  --color-white: #fff;

  --gray-h: calc(var(--color-primary-h) / 3);
  --gray-s: 2%;
  --gray-100: hsl(var(--gray-h) var(--gray-s) 95%);
  --gray-200: hsl(var(--gray-h) var(--gray-s) 92%);
  --gray-300: hsl(var(--gray-h) var(--gray-s) 90%);
  --gray-400: hsl(var(--gray-h) var(--gray-s) 85%);
  --gray-500: hsl(var(--gray-h) var(--gray-s) 75%);
  --gray-600: hsl(var(--gray-h) var(--gray-s) 40%);
  --gray-700: hsl(var(--gray-h) var(--gray-s) 25%);
  --gray-800: hsl(var(--gray-h) var(--gray-s) 15%);
  --gray-850: hsl(var(--gray-h) var(--gray-s) 10%);
  --gray-875: hsl(var(--gray-h) var(--gray-s) 7%);
  --gray-900: hsl(var(--gray-h) var(--gray-s) 5%);
  --gray-1000: hsl(var(--gray-h) var(--gray-s) 2%);

  --gutter: 1rem;
  --gutter-50: calc(0.25 * var(--gutter));
  --gutter-100: calc(0.5 * var(--gutter));
  --gutter-200: calc(0.75 * var(--gutter));
  --gutter-300: calc(1.5 * var(--gutter));

  --radii: 0.5rem;
  --radii-100: 1rem;
  --radii-full: 9999px;

  --font-family-primary: serif;

  --fs-50: 0.975rem;
  --fs-200: 1.25rem;
  --fs-300: 1.375rem;
  --fs-400: 1.5rem;
  --fs-500: 1.75rem;

  --zindex-nav: 100;
}

@media (prefers-color-scheme: light) {
  :root {
    --color-text: var(--gray-700);
    --color-text-light: var(--gray-1000);
    --color-text-contrast: var(--color-white);
    --color-bg: var(--gray-300);
    --color-bg-darker: var(--gray-200);
    --color-surface-bg: var(--color-white);
    --color-border: var(--gray-300);
    --color-shadow: var(--gray-600);
    --shadow-100: 0 0 1px var(--gray-500);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-text: var(--gray-500);
    --color-text-light: var(--gray-100);
    --color-text-contrast: var(--color-white);
    --color-bg: var(--gray-875);
    --color-bg-darker: var(--gray-700);
    --color-surface-bg: var(--gray-850);
    --color-border: var(--gray-600);
    --color-shadow: var(--gray-1000);
    --shadow-100: 0 0 1px var(--gray-800);
  }
}

/* Semantic Tokens */
:root {
  --border-width: 1px;
  --border: var(--border-width) solid var(--color-border);
  --shadow: 0 0 15px color-mix(in srgb, var(--color-shadow) 50%, transparent);
  /* --shadow-100: 0 3px 5px
    color-mix(in srgb, var(--color-shadow) 30%, transparent); */
}
